# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
.gradle/buildOutputCleanup/buildOutputCleanup.lock
gradle/wrapper/gradle-wrapper.properties
run/logs/debug.log
run/logs/latest.log
